<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="./stylesheets/main-style.css" />
</head>

<body class="bg-white" style="overflow-y: auto;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" href="#">AlgoAssassis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ClassRoom</a>
                </li>
            </ul>

            <li class="nav-item">
                <a class="btn btn-outline-success text-white">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success text-white">sign-up</a>
            </li>
        </div>
    </nav>

    <div class="d-flex  " style="height: 100vh;" id="first-div">
        <div class="flex-child col-6" style="background-color: #06bca5; padding: 2rem;">
            <form action="/signup" method="post" class="vertical-center rounded shadow-lg col-10 mx-auto"
                style="border: 3px dashed whitesmoke; padding: 2rem;">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="firstName" class="">First Name</label>
                        <input type="text" class="form-control " id="firstName" placeholder="Enter First Name"
                            name="firstName">

                    </div>
                    <div class="form-group col-sm-6">
                        <label for="lastName" class="">Last Name</label>
                        <input type="text" class="form-control " id="lastName" placeholder="Enter Last Name"
                            name="lastName">

                    </div>
                </div>
                <div class="form-group">
                    Gender : &nbsp;
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="male">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_type">You are a </label>
                    <input type="text" name="user_type" class="form-control" id="user_type" value="student" readonly>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="rollNo" class="col-form-label col-md-2">RollNo :</label>
                        <input type="text" class="form-control col-md-9" name="rollNo" id="rollNo" maxlength="9"
                            size="9">

                    </div>

                </div>
                <a href="#second-div"><input type="submit" class="btn d-block mx-auto shadow-sm"
                        style="background-color: #536DFE;" value="Submit"></a>
            </form>
        </div>
        <div class="flex-child img-fluid col-6 ">
            <img src="images/portfolio.svg" class="w-100 vertical-center" alt="">
        </div>
    </div>


    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
</body>

</html>