<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Error!
  </title>
  <link rel="stylesheet" href="./stylesheets/main-style.css" />
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand mb-0 h1" href="#">AlgoAssassis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ClassRoom</a>
        </li>
      </ul>

      <li class="nav-item">
        <a href="/login" class="btn btn-outline-success text-white">Login</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-success text-white">sign-up</a>
      </li>
    </div>
  </nav>
  error!
  <h1><%= message %></h1>
  <h2><%= error.status %></h2>
  <pre><%= error.stack %></pre>
</body>

</html>